.container_progress{
    display: flex;
    flex-direction: row;
    align-items: center;
    .progress_bar{
        width: 80%;
        height: 2rem;
        margin-left: 5%;
    }
    
    .porcentagem{
        padding-left: 1rem;
    }
}

@media screen and (max-width: 800px){
    .porcentagem{
        color: #97AEA9;
    }
}
