

.container_header{
    background-color: #F5F5F5;
    display: grid;
    box-shadow: 0 5px 10px #0c090938;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    height: 4rem;
    width: 100%;
    border-radius: 0 0 10px 10px;

    .header_logo{
        height: 3rem;
    }
}